{% extends "base.html" %}

{% block title %}

Summary | GUDLFT Registration

{% endblock %}

{% block content %}
    <div class="flex items-center justify-between">
        <h2>Welcome, {{club['email']}} </h2>
        <a href="{{url_for('logout')}}">Logout</a>
    </div>
    
    <p>Points available: {{ club['points'] }}</p>

    <h3>Competitions:</h3>
    <ul>
        {% for comp in competitions %}
        <li>
            {{ comp['name'] }}<br />
            Date: {{ comp['date'] }}</br>
            Number of Places: {{ comp['numberOfPlaces'] }}
            {% if comp['numberOfPlaces']|int >0 %}
            <a href="{{ url_for('book',competition=comp['name'],club=club['name']) }}">Book Places</a>
            {% endif %}
        </li>
        <hr />
        {% endfor %}
    </ul>

{% endblock %}